* {
  box-sizing: border-box;
  color: #353535;
}
.text-cap {
  text-transform: capitalize;
}
body {
  padding: 3rem;
}
.text-head {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
}

.sub-head {
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
}
.container {
  display: flex;
  align-items: start;
  width: 100%;
}
.blog-card {
  padding: 2rem 10rem 2rem 0rem;
  gap: 2rem;
  width: 100%;
}
.blog-card img {
    max-width: 350px;
}
.blog-card .text h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordians {
  width: 60%;
}
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
  background-color: transparent;
  transition: 0.4s;
  border-bottom: 1px solid #353535;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
  text-align: right;
  margin-left: 30%;
}

.text-right {
  text-align: right;
}

.acc-container {
  text-align: right;
  align-items: end;
  margin: 0px 0px 0px auto;
}

.vertical-line {
  width: 100vh;
  height: 2px;
  display: block;
  background: rgba(255, 199, 199, 1);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-30%, 0%) rotate(90deg);
}

@media (max-width: 1000px) {
  body {
    padding: 0px 1rem;
  }
  .container {
    flex-direction: column;
  }
  .vertical-line {
    display: none;
  }
  .accordians {
    width: 100%;
  }
  .accordion {
    width: 100%;
  }
  .panel {
    margin-left: 0%;
  }
  .blog-card {
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    gap: 10px;
  }
  .blog-card img {
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .acc-container {
    margin: 0;
  }
}

@media (max-width: 600px) {
    .blog-card {
        flex-direction: column;
    }
}